body {
    width: 60%;
    padding-left: 3%;
    background-color: beige;
    color: rgb(50, 51, 53);
    background-image: url("BackGround.JPG");
    background-size: cover;
}

a {
    text-decoration: none;
}

.blog-box {
   color: rgb(50, 51, 53); 
   background-color: bisque;
   display: inline-block;
   padding: 5px;
   width: 100%;
}

.blog-info-box {
   width: 48%;
}

.blog-info-box > h3 {
    margin-top: 5px;
}

.blog-info-box:hover {
    animation: wiggle-wiggle 0.35s 1;
}

@keyframes wiggle-wiggle {
    0% { transform: rotate(0deg); }
    17% { transform: rotate(0.3deg); }
    33% { transform: rotate(0eg); }
    52% { transform: rotate(-0.3deg); }
    68% { transform: rotate(0eg); }
    85% { transform: rotate(0.3deg); }
    100% { transform: rotate(0deg); }
}